/* Variables */

:root {
  --basic-black: #000000;
  --light-black: #333333;
  --black-brown: #231F20;
  --light-blue: #81B3D2;
  --blue-gray: #669EC0;
  --dark-blue-gray: #5496BD;
  --white-gray: #BDBBBC;
  --light-gray: #eeeeee;
  --dark-blond: #766357;
  --brown: #604E43;
  --dark-brown: #503E33;
  --smoky-white: #F2F2F2;
  --dull-gray: #666666;
  --basic-white: #ffffff;
  --white-aluminum: #ABABAB;
  --white-gray: #A9A9A9;
  --pale-blue: #CACACA;
  --platinum: #E5E5E5;
  --transparent-white: rgba(255, 255, 255, 0.3);
}

/* Global */

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.wrapper {
  background-color: var(--basic-white);
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.inner {
  padding: 0 73px;
}

/* Main navigation */

.main-navigation {
  color: var(--basic-black);
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.site-navigation a {
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
}

.site-navigation a:hover {
  color: var(--light-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.active a {
  color: var(--dark-blond);
}

/* Welcome */

.welcome {
  display: grid;
  height: 509px;
  background: url("../img/background-photo.jpg") 100% 100% no-repeat;
  background-size: cover;
}

.welcome-image {
  margin-top: 77.35px;
  justify-self: center;
}

/* Features-Header */

.features-header {
  height: 216px;
}

.features-header h1 {
  margin-top: 42.5px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.features-header p {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

/* Main-features-top */

.main-features-top {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.feature-info {
  background-color: var(--light-blue);
}

.feature-title {
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.feature-text {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.feature-image {
  width: 800px;
  height: 256px;
}

/* Add-features */

.add-features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 330px;
  list-style: none;
  padding: 0;
}

.add-feature-title {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
}

.add-feature-text {
  font-size: 14px;
  line-height: 21px;
  color: var(--light-black);
  text-align: center;
}

.add-features-bottom {
  height: 256px;
  background-color: var(--light-gray);
}

/* Main-features-bottom */

.main-features-bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0;
}

/* Interested */

.interested {
  height: 291px;
}

.interested-title {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.interested-info {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

/* Catalog page */

/*options */

.options {
  background: url(../img/catalog-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.options-form {
  display: flex;
  justify-content: space-between;
}

.options-fieldset {
  border: none;
  height: 217px;
}

.option-title {
  color: var(--basic-white);
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.options-list {
  padding: 0;
  list-style: none;
}

.option-type {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
}

.option-price-start, .option-price-end {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
}

.price-button {
  width: 137px;
  height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: Transparent;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
  text-transform: uppercase;
}

.price-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Sort */

.sort {
  height: 86px;
  border-bottom: 1px solid var(--platinum);
}

.sort .inner {
  display: flex;
}

.sort-column {
  display: flex;
  width: 50%;
}

.sort-title {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sort-text {
  color: var(--basic-black);
  font-size: 12px;
  line-height: 18px;
}

.sort-list {
  display: flex;
  padding: 0;
  list-style: none;
}

.sort-type {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration: none;
  border-bottom: 1px dotted var(--light-blue);
}

.sort-type:hover {
  color: var(--light-blue);
  opacity: 1;
}

.sort-type:active {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: none;
}

.sort-type-checked {
  border-bottom: none;
  opacity: 1;
  color: var(--light-blue);
}

.sort-list li:nth-of-type(4) a, .sort-list li:nth-of-type(5) a {
  color: var(--basic-black);
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}

/* Catalog */

.catalog {
  display: grid;
}

.catalog-row {
  border-bottom: 1px solid var(--platinum);
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog-row .inner {
  display: flex;
  justify-content: space-between;
}

.item-title a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-decoration: none;
}

.item-title a:hover {
  color: var(--light-blue);
}

.item-title a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.item-type, .item-price {
  font-size: 14px;
  line-height: 21px;
  color: var(--light-black);
}

.item-details {
  display: inline-block;
  color: var(--basic-white);
  width: 110px;
  height: 27px;
  text-decoration: none;
  background-color: var(--light-blue);
  text-align: center;
}

.item-details:hover {
  background-color: var(--blue-gray);
}

.item-details:active {
  color: var(--transparent-white);
  background-color: var(--dark-blue-gray);
}

.item-booking {
  display: inline-block;
  color: var(--basic-white);
  width: 142px;
  height: 27px;
  text-decoration: none;
  background-color: var(--dark-blond);
  text-align: center;
}

.item-booking:hover {
  background-color: var(--brown);
}

.item-booking:active {
  color: var(--transparent-white);
  background-color: var(--dark-brown);
}

.item-rating-text {
  display: inline-block;
  color: var(--dull-gray);
  font-size: 14px;
  line-height: 21px;
  width: 110px;
  height: 27px;
  background-color: var(--smoky-white);
  text-align: center;
}

/* Footer */

.page-footer {
  height: 120px;
}

.page-footer .inner {
  display: flex;
  justify-content: space-between;
}

/* Contacts */

.contacts {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: bold;
  display: flex;
  text-align: center;
  flex-direction: column;
}

/* Social */

.social {
  display: flex;
  justify-content: center;
}

.social-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-list li:not(last-child) {
  margin-right: 6px;
}

.social-link {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: var(--light-blue);
}

.social-link {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: var(--light-blue);
}

.social-link:hover {
  background-color: var(--blue-gray);
}

.social-link:active {
  background-color: var(--dark-blue-gray);
}

/* Academy-link */

.academy-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.academy-text {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  margin-right: 10px;
}

.academy-logo {
  fill: var(--black-brown);
}

.academy-logo:hover {
  fill: var(--light-blue);
}

.academy-logo:hover:active {
  fill: var(--white-gray);
}
